# Ignore node_modules in both client and server
client/node_modules/
server/node_modules/

# Enviroment files
client/.env 
server/.env 
venv/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
/build 
/dist

# OS/system files
.DS_Store
Thumbs.db 

# Editor settings
.vscode/
.idea/

# Python 
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pyc

# Django
db.sqlite3
*.pot 
*.pyc
*.pyo

# Media & Uploaded Files
media/
staticfiles/

# Django Migrations (optional, only if you don’t want to commit them)
**/migrations/*.py
!**/migrations/__init__.py
